*.swp
er.fish
candy.fish
fastned.fish
fhdh.fish
immrs.fish
melkweg.fish
mb.fish
minimonk.fish
shenaynay.fish
sw.fish
voorlinden.fish
mw.fish
schoolwijzer.fish
fish_prompt.fish
fish_right_prompt.fish
ls.fish
lsl.fish
ramiro.fish
